.nav-links{
    display: flex;
    list-style: none;
    margin: 0 15px;
    cursor: pointer;
}

.side-drawer-navlinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}



@media only screen and (max-width:600px){
    .nav-links{
        display: none;
    }

    .side-drawer-navlinks{
        display: flex;
    }
}


.signin-link:hover{
    color: #F2C46D;
}

.signup-link:hover{
    color: #F2C46D;
}