
.nav-list-item{
padding: 8px;
list-style: none;
}

.nav-link{
    text-decoration: none;
    color: white;
    cursor: pointer;
    width: 100%;
    
}

.nav-link.side{
font-size: 25px;
}

.nav-link:hover{
    color: #F2C46D;
}

.nav-link.active{
    color: #F2C46D;
}


.signin-link{
    padding: 10px 12px;
    border: 1.5px solid #F2D272;
    border-radius: 5px;
}

.signup-link{
    padding: 10px 12px;
    border: 1.5px solid #F2D272;
    border-radius: 5px;
}