.productCard{
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px auto;
    box-shadow: 2px 7px 6px 2px rgba(0,0,0,0.27);
    cursor: pointer;
    background-color: white;

}
.productCard__image-box{
    height: 55%;
    width: 100%;
    
}

.productCard__image{
    height: 100%;
    width: 100%;
    object-fit:fill
}



.productCard__details{
    padding: 15px;
    height: 30%;
    display: flex;
    flex-direction: column;
    
}

.productCard__brand{
    padding-bottom: 10px;
    color: gray;
}

.productCard__rating{
    font-size: 25px;
    color: gold;
}
.productCard__payments{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    
    
}

.productCard__addToCart{
   padding: 6px 12px;
   text-align: center;
   border: solid 2px#204473;
   
   background-color: inherit;
   border-radius: 50px;
   cursor: pointer;
   outline: none;
    
}

.productCard__addToCart:hover{
    background-color:#204473;
    color: white;
}

.productCard__price{
color: #204473;
font-size: 25px;
}