.menu-button{ 
    width: 45px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.menu-button-line,
.menu-button-line::before,
.menu-button-line::after{
    content: "";
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.menu-button-line::before{
    top: -15px;
    height: 4px;
}

.menu-button-line::after{
    top: 15px;
    height: 4px;
}

.menu-button:hover .menu-button-line{
    width: 40px;
}

.menu-button:hover .menu-button-line::before{
    width: 30px;
}

.menu-button:hover .menu-button-line::after{
    width: 50px;
}


@media only screen and (min-width:768px){
    .menu-button{
        display: none;
    }
}


